body {
    padding: 16px;
}

h1,
h2 {
    text-align: center;
}

/* FOR TABLES */
table {
    border-collapse: collapse;
    margin: 48px 0;
}

th {
    background-color: rgb(148, 204, 253);
}

td {
    background-color: aliceblue;
}

td,
th {
    padding: 8px 24px;
    border-bottom: 1px solid black;
    max-width: 60ch;
}

tr:last-child td {
    border-bottom: none;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}